@charset "UTF-8";


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav-list {
  display: flex;
}

.header-nav-list a {
  text-decoration: none;
}

.header-nav-item {
  margin-right: 35px;
  font-size: 16px;
  color: #f2f2f2;
}

#eyecatch {
  height: 600px;
  background: url(../img3/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 60%;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: #f2f2f2;
}

#news-wrap {
  width: 10px;
  height: 30px;
  background: #f2f2f2;
  border: 1px #f2f2f2 solid ;
  position: absolute;
  right: bottom;

}
.news-wrap p {
  font-size: 3px;
  color: #000;
  
}

#business {
  height: 600px;
  background: #000;
}

#business h2 {
  padding: 200px 200px 40px;
  font-size: 25px;
  text-align: left;
  color: #f2f2f2;
}

#business p {
  padding: 0px 200px 150px;
  font-size: 15px;
  text-align: left;
  color: #f2f2f2;
}

.link {
  padding: 5px 20px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  border: 1px #f2f2f2 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.link-hover {
  color: #f2f2f2;
  background: #f2f2f2;
}


